
body {
  background-color: #DCE0E6;
}

.react-search {
  color: black;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

#search-input {
  width: 20%;
  height: 20px;
  color: black;
  font-family: 'Droid Serif', serif;
  font-size: 12px;
}

.title {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  padding-top: 50px;
}
